<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%=link_to("FoodApp", "/")%>
      </div>
      <ul class="header-menus">
        <li>
          <%=link_to("FoodAppとは", "/about")%>
        </li>
        <li>
          <%=link_to("お店一覧", "/index")%>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
